@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair:wght@300&family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair:wght@300&family=Roboto+Slab:wght@100&display=swap');


a{
    color: white;
    font-family: 'Roboto',sans-serif;
    
}

head{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(1, 48, 57);
    margin: 0;
    padding: 10px;
}
nav ul li{
    display: inline;
    margin-right: 40px;
}
nav ul{
    margin: 0;
}
img{
    width: 100%;
    display: block;
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Oswald',sans-serif;
    font-size: 80px;
    padding: 10px;
    padding-left: 250px;
    
    
}

.home{
    position: relative;
}



.Pict{
    padding-right: 400px;
    position: absolute;
}



footer {
    background-color: rgb(1, 48, 57);
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }

  .footer-section1{
    margin-right: 100px;
  }
  
  .footer-section1 h3 {
    padding: 5px;
    text-align: left;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-section1 p {
    text-align: left;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-section p1 {
    font-family: 'Orbitron';
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 300px; /* Menambahkan batasan lebar maksimum */
    overflow-wrap: break-word; /* Mengatur pembungkus kata */
    padding-left: 0px;
    font-size: 20px;
  }
  
  .social-icons {
    margin-top: 10px;
    padding-left: 0px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 30px;
  }
  
  .social-icons a:hover {
    color: #333;
  }
  
  .Delay{
    margin-left: 30%;


  }

  #Form{
    width: 650px;
    height: 450px;
    margin-left: 15%;
    margin-top: 8%;
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.7);
  }
  
  h5 {
    padding-left: 170px;
    padding-bottom: 20px;
    color: white;
    font-size: 15px;
  }
  
  form {
    padding-top: 20px;
    padding-left: 15%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 150px;
    color: white;
  }
  
  input[type="text"],
  input[type="Email"],
  input[type="tel"],
  textarea {
    width: 200px;
  }
  
  textarea {
    width: 200px;
    height: 100px;
  }
  
  input[type="Submit"] {
    width: 60%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  input[type="Submit"]:hover {
    background-color: blue;
  }
  
  label[for="contactTelp"] {
    width: 50px;
  }
  
  label[for="contactEmail"] {
    width: 50px;
  }
  p1{
    color:white;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    h5 {
      padding-left: 30px;
      padding-bottom: 0px;
      color: white;
      margin-bottom: 10px;
      font-size: 30px;
    }
    
    form {
  
      padding-top: 0px;
      padding-left: 20%;
      max-width: 350px;
      margin: 0 auto;
    }
    img{
      width: 100%;
      margin-bottom: 300px;
      
      display: block;
  }

  }
  @media screen and (max-width: 768px) {
    h5 {
      padding-left: 65px;
      padding-bottom: 20px;
      color: white;
      font-size: 15px;
    }
    
    
    .footer-section p1 {
      font-family: 'Orbitron';
      padding: 5px;
      color: #ffffff;
      font-size: 14px;
      margin-bottom: 10px;
      max-width: 300px; 
      overflow-wrap: break-word; 
      padding-left: 0px;
      font-size: 15px;
    }
    h3{
      color: white;
      font-size: 30px;
      font-family: 'roboto',sans-serif;
      padding-left: 20px;
      margin-bottom: 10px;
    }
    
    .footer-section1 h3 {
      padding: 5px;
      text-align: left;
      font-family: 'Orbitron';
      color: #ffffff;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .footer-section1 p {
      text-align: left;
      font-family: 'Orbitron';
      color: #ffffff;
      font-size: 10px;
      margin-bottom: 10px;
    }
    
    .footer-section1{
      margin-right: 10px;
      
      
    }
    
    .footer-section1 p1{
      font-size: 8px;
    }
    
    .footer-section p1 {
      font-family: 'Orbitron';
      padding: 5px;
      color: #ffffff;
      margin-bottom: 15px;
      max-width: 300px; 
      overflow-wrap: break-word; 
      padding-left: 0px;
      font-size: 10px;
    }
    .footer-section1 h3 {
      font-family: 'Orbitron';
      color: #ffffff;
      font-size: 15px;
      margin-bottom: 10px;
      margin-top: 8px;
    }
    .footer-section h3 {
      font-family: 'Orbitron';
      color: #ffffff;
      font-size: 15px;
      margin-bottom: 10px;
    }
    .social-icons {
      margin-top: 10px;
      padding-left: 0px;
    }
    
    .social-icons a {
      display: inline-block;
      margin-right: 10px;
      color: #777;
      font-size: 15px;
    }
    nav ul li{
      display: inline;
      margin-right: 15px;
    }
    a{
      color: white;
      font-family: 'Roboto',sans-serif;
      font-size: 15px; 
    }
    
    form {
  
      padding-top: 20px;
      padding-left: 15%;
      max-width: 250px;
      margin: 0 auto;
    }
    img{
      width: 100%;
      margin-bottom: 300px;
      height: 300px;
      display: block;
  }
  }